# Server Configuration
PORT=5000
NODE_ENV=development

# Database
mongodb+srv://smashliveadmin:Akbar@2005@cluster0.euayeer.mongodb.net/?appName=Cluster0

# Authentication
JWT_SECRET=your_super_secret_key_here
JWT_EXPIRE=24h

# Frontend (for CORS)
FRONTEND_URL=http://localhost:8080